{% if section.settings.collection != blank %}
  {% assign products = section.settings.collection.products %}
  {% if products.size > 0 %}
    {{ 'swiper-slider.css' | asset_url | stylesheet_tag }}

    <div class="swiper-wrapper-container">
      <div class="swiper mySwiper">
        {% if section.settings.swiper_title != blank %}
          <div>
            <h1 class="swiper-title">
              {{ section.settings.swiper_title }}
            </h1>
          </div>
        {% endif %}
        <div class="swiper-wrapper">
          {% for product in products limit: 10 %}
            <div class="swiper-slide">
              <a href="{{ product.url }}">
                <div>
                  <img
                    src="{{ product.featured_image | image_url: height: 1000 }}"
                    alt="{{ product.title }}"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  >
                  {% render 'bestseller-badge', product: product %}
                </div>
                <p>{{ product.title }}</p>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-scrollbar"></div>
    </div>

    <script src="{{ 'swiper-slider.js' | asset_url }}" defer="defer"></script>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Slider Collection",
  "settings": [
    {
      "type": "text",
      "id": "swiper_title",
      "label": "Slider Title",
      "default": "Featured Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose a collection"
    }
  ],
  "presets": [
    {
      "name": "Swiper Slider (Collection)"
    }
  ]
}
{% endschema %}
