{% if section.settings.collection != blank %}
  {% assign products = section.settings.collection.products %}
  {% if products.size > 0 %}
    
    {{ 'swiper-slider.css' | asset_url | stylesheet_tag }}

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for product in products limit: 10 %}
          <div class="swiper-slide">
            <a href="{{ product.url }}">
              <img
                src="{{ product.featured_image | image_url: height: 1000 }}"
                alt="{{ product.title }}"
                width="100%"
                height="auto"
                loading="lazy"
              >
              <p>{{ product.title }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-scrollbar"></div>
    </div>

    <script src="{{ 'swiper-slider.js' | asset_url }}" defer="defer"></script>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Slider Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose a collection"
    }
  ],
  "presets": [
    {
      "name": "Swiper Slider (Collection)"
    }
  ]
}
{% endschema %}
